table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  thead {
    background-color: gray;
  }

  h2{
    text-align: center;
  }

  .invalidDate {
    background-color: gray;
  }

  .available {
    background-color: green;
  }

  .notAvailable {
    background-color: red;
  }

