  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  thead {
    background-color: gray;
  }

  h2{
    text-align: center;
  }

  .invalidDate {
    background-color: gray;
  }

  .available {
    background-color: green;
  }

  .available:hover {
    background-color: lightgreen;
    cursor:pointer;
  }

  .notAvailable {
    background-color: red;
  }

  .table-container {
    width: 100%; 
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid white !important;
    padding: 8px;
    text-align: center !important;
    vertical-align: middle;
  }
  
  th {
    background-color: gray !important;
    font-weight: bold;
  }

  .select {
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
  }

  .select-container {
    display: flex;
  }
  
  .delete {
    width: 5%;
  }
  
  .name {
  width: 15%;
  }

  .edit {
  width: 5%;
  }

  .wrap {
  white-space: pre-wrap;
  }
  