<mat-tab-group>
  <mat-tab label="Reserve"> 
    <h2>Reserve Open Rooms and Equipment</h2>
    <div>Here, you can make a reservation for a room or equipment.</div>
  </mat-tab>
  <mat-tab label="My Reservations"> 
    <h2>My Upcoming Reservations</h2>
    <table>
      <thead>
          <td>Date</td>
          <td>Time</td>
          <td>Reservation</td>
          <td>Type</td>
          <td>Description</td>
          <td>Delete</td>
      </thead>
      <tbody>
          <tr *ngFor="let reservation of userReservations$ | async">
              <td>{{ reservation.start_time | date: 'mediumDate'}}  </td>
              <td>{{ reservation.start_time | date: 'shortTime' }} - {{ reservation.end_time | date: 'shortTime' }}</td>
              <td>{{ reservation.reservable.name }}</td>
              <td>{{ reservation.reservable.type }}</td>
              <td>{{ reservation.reservable.description }}</td>
              <td> <button type="button" (click)="onClick(reservation)" mat-icon-button color="warn" aria-label="Delete button">
                <mat-icon>delete</mat-icon>
              </button>
              </td>
          </tr>
      </tbody>
  </table>
  </mat-tab>
</mat-tab-group>