<mat-tab-group>
  <mat-tab label="Reserve"> 
    <h2>Reserve Open Rooms and Equipment</h2>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <ng-container *ngFor="let hour of hours">
            <td>{{ hour | date:'shortTime'}}</td>
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let reservable of reservablesWithAvailability$ | async">
          <tr>
            <td>{{ reservable.reservable.name }}</td>
            <ng-container *ngFor="let hour of hours">
              <td *ngIf="isValidDate(hour) && !isAvailable(reservable.reservations, hour)" class="notAvailable"></td>
              <td *ngIf="isValidDate(hour) && isAvailable(reservable.reservations, hour)" class="available" (click) = "onCellClick(hour, reservable.reservable)"></td>
              <td *ngIf="!isValidDate(hour)" class="invalidDate"></td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <mat-card *ngIf="selectedReservable && selectedStartTime">
      <mat-card-header>
        <mat-card-title>Reserve {{selectedReservable.name }} on {{selectedStartTime | date: 'mediumDate'}} from {{ selectedStartTime | date: 'shortTime' }}  until</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>End Time</mat-label>
          <mat-select [(ngModel)]="selectedEndTime">
             <mat-option *ngFor="let endTime of possibleEndTimes$ | async" [value]="endTime">
              {{endTime | date: 'shortTime' }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">RESERVE</button>
      </mat-card-actions>
    </mat-card>

  </mat-tab>

  <mat-tab label="My Reservations"> 
    <h2>My Upcoming Reservations</h2>
    <table>
      <thead>
          <td>Date</td>
          <td>Time</td>
          <td>Reservation</td>
          <td>Type</td>
          <td>Description</td>
          <td>Delete</td>
      </thead>
      <tbody>
          <tr *ngFor="let reservation of userReservations$ | async">
              <td>{{ reservation.start_time | date: 'mediumDate'}}  </td>
              <td>{{ reservation.start_time | date: 'shortTime' }} - {{ reservation.end_time | date: 'shortTime' }}</td>
              <td>{{ reservation.reservable.name }}</td>
              <td>{{ reservation.reservable.type }}</td>
              <td>{{ reservation.reservable.description }}</td>
              <td> <button type="button" (click)="onDeleteClick(reservation)" mat-icon-button color="warn" aria-label="Delete button">
                <mat-icon>delete</mat-icon>
              </button>
              </td>
          </tr>
      </tbody>
  </table>
  </mat-tab>
</mat-tab-group>